@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./assets/image/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5f5dc;
  margin: 0;
  font-family: "Arial", sans-serif;
  color: #333;
}
